@tailwind base;
@tailwind components;
@tailwind utilities;



*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: sans-serif;
}

body
{
  background: #000;
}

.signin
{
  margin-left: auto;
  position: relative;
}

.app
{
  height: 100vh;
}

.app::-webkit-scrollbar
{
  display: none;
}
.sections
{
  position: relative;
  width: calc(100vw - 19rem);
    background: #333;
  position: relative;
  margin-left: 19rem;
  transition: .8s ease;
}

.sectionss
{
  position: relative;
  width: calc(100vw - 35rem);
    background: #333;
  position: relative;
  margin-left: 19rem;
  transition: .8s ease;
}


.msg
{
  position: relative;
  width: calc(100vw - 21rem);
  background: #333;
  position: relative;
  top: 0;
  margin-left: 21rem;
}

@media (max-width:940px){
  .sections
{
  position: relative;
  width: calc(100vw - 17rem);
  height: 100vh;
  background: #333;
  position: relative;
  top: 0;
  margin-left: 17rem;
}

.sectionss
{
  position: relative;
  width: calc(100vw - 17rem);
    background: #333;
  position: relative;
  margin-left: 17rem;
  transition: .8s ease;
}


}


@media(max-width: 800px) {
  .sections
{
  position: relative;
  width: calc(100vw - 15rem);
  height: 100vh;
  background: #333;
  position: relative;
  top: 0;
  margin-left: 15rem;

}

.sectionss
{
  position: relative;
  width: calc(100vw - 15rem);
    background: #333;
  position: relative;
  margin-left: 15rem;
  transition: .8s ease;
}

}

.sections::-webkit-scrollbar
{
  display: none;
}

.texts
{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.messagessec
{
  height: calc(100% -9.5rem);
}




